{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.author.label }}:{{ form.author(size=20) }}
        {% for error in form.author.errors %}
            <span style="color:red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.body.label }}:
        {{ form.body(size=1024) }}
        {% for error in form.body.errors %}
        <span style="color:red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% if posts %}
    {% for post in posts %}
        <h1><a href='{{url_for('blog') }}/{{ post.id }}'>Удалить</a> - {{ post.author }}</h1>
        <p>{{ post.body}}</p>
    {% endfor %}
{% endif %}


{% endblock %}